AdminGUIManagement/src/main/resources/wsdl/AdminGUIManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="AdminGUIManagementService"
             targetNamespace="urn:gov:hhs:fha:nhinc:adminguimanagement"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="urn:gov:hhs:fha:nhinc:adminguimanagement"
             xmlns:admingui="urn:gov:hhs:fha:nhinc:common:adminguimanagement"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:common:adminguimanagement">
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:adminguimanagement"
                        schemaLocation="classpath:schemas/nhinc/common/AdminGUIManagement.xsd"/>
        </xsd:schema>
    </types>

    <message name="AdminGUIRequestMessage">
        <part name="AdminGUIRequest"
              element="admingui:AdminGUIRequestMessage"/>
    </message>

    <message name="DashboardStatusResponseMessage">
        <part name="DashboardStatusResponse"
              element="admingui:DashboardStatusMessage"/>
    </message>

    <message name="LogEventSimpleResponseMessage">
        <part name="LogEventSimpleResponse"
              element="admingui:LogEventSimpleResponseMessage"/>
    </message>

    <message name="ListErrorLogRequestMessage">
        <part name="ListErrorLogRequest"
              element="admingui:ListErrorLogRequestMessage"/>
    </message>

    <message name="ViewErrorLogRequestMessage">
        <part name="ViewErrorLogRequest"
              element="admingui:ViewErrorLogRequestMessage"/>
    </message>

    <message name="GetSearchFilterRequestMessage">
        <part name="GetSearchFilterRequest"
              element="admingui:GetSearchFilterRequestMessage"/>
    </message>

    <portType name="AdminGUIManagementPortType">
        <operation name="DashboardStatus">
            <input  name="AdminGUIRequest"  message="tns:AdminGUIRequestMessage" />
            <output name="DashboardStatusResponse" message="tns:DashboardStatusResponseMessage"/>
        </operation>

        <operation name="GetSearchFilter">
            <input  name="GetSearchFilterRequest"  message="tns:GetSearchFilterRequestMessage" />
            <output name="LogEventSimpleResponse" message="tns:LogEventSimpleResponseMessage"/>
        </operation>

        <operation name="ListErrorLog">
            <input  name="ListErrorLogRequest"  message="tns:ListErrorLogRequestMessage" />
            <output name="LogEventSimpleResponse" message="tns:LogEventSimpleResponseMessage"/>
        </operation>

        <operation name="ViewErrorLog">
            <input  name="ViewErrorLogReqest"  message="tns:ViewErrorLogRequestMessage" />
            <output name="LogEventSimpleResponse" message="tns:LogEventSimpleResponseMessage"/>
        </operation>
    </portType>

    <binding name="AdminGUIManagementBindingSoap"
             type="tns:AdminGUIManagementPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
         <operation name="DashboardStatus">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:adminguimanagement:DashboardStatus"/>
            <input name="AdminGUIRequest">
                <soap:body use="literal"/>
            </input>
            <output name="DashboardStatusResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="GetSearchFilter">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:adminguimanagement:DashboardStatus"/>
            <input name="GetSearchFilterRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LogEventSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="ListErrorLog">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:adminguimanagement:DashboardStatus"/>
            <input name="ListErrorLogRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LogEventSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="ViewErrorLog">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:adminguimanagement:DashboardStatus"/>
            <input name="ViewErrorLogReqest">
                <soap:body use="literal"/>
            </input>
            <output name="LogEventSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="AdminGUIManagement">
        <port name="AdminGUIManagementPort"
              binding="tns:AdminGUIManagementBindingSoap">
            <soap:address location="https://localhost:${HttpsDefaultPort}/CONNECTGateway/AdminGUIServices/Dashboard"/>
        </port>
    </service>
</definitions>
