AdminGUIManagement/src/main/resources/wsdl/LoadTestDataManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="AdminGUIManagementService"
             targetNamespace="urn:gov:hhs:fha:nhinc:loadtestdatamanagement"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="urn:gov:hhs:fha:nhinc:loadtestdatamanagement"
             xmlns:admingui="urn:gov:hhs:fha:nhinc:common:loadtestdatamanagement"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:common:loadtestdatamanagement">
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:loadtestdatamanagement"
                        schemaLocation="classpath:schemas/nhinc/common/LoadTestDataManagement.xsd"/>
        </xsd:schema>
    </types>

    <message name="LoadTestDataSimpleResponseMessage">
        <part name="LoadTestDataSimpleResponse"
              element="admingui:LoadTestDataSimpleResponseMessage"/>
    </message>

    <message name="ListAllPatientRequestMessage">
        <part name="ListAllPatientRequest"
              element="admingui:ListAllPatientRequestMessage"/>
    </message>

    <message name="ListAllPersonNameRequestMessage">
        <part name="ListAllPersonNameRequest"
              element="admingui:ListAllPersonNameRequestMessage"/>
    </message>

    <message name="ListAllAddressRequestMessage">
        <part name="ListAllAddressRequest"
              element="admingui:ListAllAddressRequestMessage"/>
    </message>

    <message name="ListAllIdentierRequestMessage">
        <part name="ListAllIdentierRequest"
              element="admingui:ListAllIdentierRequestMessage"/>
    </message>

    <message name="ListAllPhoneNumberRequestMessage">
        <part name="ListAllPhoneNumberRequest"
              element="admingui:ListAllPhoneNumberRequestMessage"/>
    </message>
	
    <message name="DeleteDocumentRequestMessage">
        <part name="DeleteDocumentRequest"
              element="admingui:DeleteDocumentRequestMessage"/>
    </message>

    <message name="DeletePatientRequestMessage">
        <part name="DeletePatientRequest"
              element="admingui:DeletePatientRequestMessage"/>
    </message>

    <message name="DeletePersonNameRequestMessage">
        <part name="DeletePersonNameRequest"
              element="admingui:DeletePersonNameRequestMessage"/>
    </message>

    <message name="DeleteAddressRequestMessage">
        <part name="DeleteAddressRequest"
              element="admingui:DeleteAddressRequestMessage"/>
    </message>

    <message name="DeleteIdentifierRequestMessage">
        <part name="DeleteIdentifierRequest"
              element="admingui:DeleteIdentifierRequestMessage"/>
    </message>

    <message name="DeletePhoneNumberRequestMessage">
        <part name="DeletePhoneNumberRequest"
              element="admingui:DeletePhoneNumberRequestMessage"/>
    </message>

    <message name="GetPatientRequestMessage">
        <part name="GetPatientRequest"
              element="admingui:GetPatientRequestMessage"/>
    </message>

    <message name="DuplicatePatientRequestMessage">
        <part name="DuplicatePatientRequest"
              element="admingui:DuplicatePatientRequestMessage"/>
    </message>

    <message name="GetPersonNameRequestMessage">
        <part name="GetPersonNameRequest"
              element="admingui:GetPersonNameRequestMessage"/>
    </message>

    <message name="GetAddressRequestMessage">
        <part name="GetAddressRequest"
              element="admingui:GetAddressRequestMessage"/>
    </message>

    <message name="GetIdentifierRequestMessage">
        <part name="GetIdentifierRequest"
              element="admingui:GetIdentifierRequestMessage"/>
    </message>

    <message name="GetPhoneNumberRequestMessage">
        <part name="GetPhoneNumberRequest"
              element="admingui:GetPhoneNumberRequestMessage"/>
    </message>

    <message name="SavePatientRequestMessage">
        <part name="SavePatientRequest"
              element="admingui:SavePatientRequestMessage"/>
    </message>

    <message name="SavePersonNameRequestMessage">
        <part name="SavePersonNameRequest"
              element="admingui:SavePersonNameRequestMessage"/>
    </message>

    <message name="SaveAddressRequestMessage">
        <part name="SaveAddressRequest"
              element="admingui:SaveAddressRequestMessage"/>
    </message>

    <message name="SavePhoneNumberRequestMessage">
        <part name="SavePhoneNumberRequest"
              element="admingui:SavePhoneNumberRequestMessage"/>
    </message>

    <message name="ListAllDocumentRequestMessage">
        <part name="ListAllDocumentRequest"
              element="admingui:ListAllDocumentRequestMessage"/>
    </message>

    <message name="ListAllEventCodeRequestMessage">
        <part name="ListAllEventCodeRequest"
              element="admingui:ListAllEventCodeRequestMessage"/>
    </message>

    <message name="DuplicateDocumentRequestMessage">
        <part name="DuplicateDocumentRequest"
              element="admingui:DuplicateDocumentRequestMessage"/>
    </message>

    <message name="DeleteEventCodeRequestMessage">
        <part name="DeleteEventCodeRequest"
              element="admingui:DeleteEventCodeRequestMessage"/>
    </message>

    <message name="GetDocumentRequestMessage">
        <part name="GetDocumentRequest"
              element="admingui:GetDocumentRequestMessage"/>
    </message>

    <message name="SaveDocumentRequestMessage">
        <part name="SaveDocumentRequest"
              element="admingui:SaveDocumentRequestMessage"/>
    </message>

    <message name="SaveEventCodeRequestMessage">
        <part name="SaveEventCodeRequest"
              element="admingui:SaveEventCodeRequestMessage"/>
    </message>

    <message name="GetPatientByIdentifierRequestMessage">
        <part name="GetPatientByIdentifierRequest"
              element="admingui:GetPatientByIdentifierRequestMessage"/>
    </message>

    <message name="SaveIdentifierRequestMessage">
        <part name="SaveIdentifierRequest"
              element="admingui:SaveIdentifierRequestMessage"/>
    </message>

    <message name="GetEventCodeRequestMessage">
        <part name="GetEventCodeRequest"
              element="admingui:GetEventCodeRequestMessage"/>
    </message>

    <message name="GetEventCodeRequestMessage">
        <part name="GetEventCodeRequest"
              element="admingui:GetEventCodeRequestMessage"/>
    </message>

    <portType name="EntityLoadTestDataManagementPortType">

        <operation name="ListAllPatient">
            <input  name="ListAllPatientRequest"  message="tns:ListAllPatientRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="ListAllPersonName">
            <input  name="ListAllPersonNameRequest"  message="tns:ListAllPersonNameRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="ListAllAddress">
            <input  name="ListAllAddressRequest"  message="tns:ListAllAddressRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="ListAllIdentier">
            <input  name="ListAllIdentierRequest"  message="tns:ListAllIdentierRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="ListAllPhoneNumber">
            <input  name="ListAllPhoneNumberRequest"  message="tns:ListAllPhoneNumberRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="DeletePatient">
            <input  name="DeletePatientRequest"  message="tns:DeletePatientRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="DeleteDocument">
            <input  name="DeleteDocumentRequest"  message="tns:DeleteDocumentRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="DeletePersonName">
            <input  name="DeletePersonNameRequest"  message="tns:DeletePersonNameRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="DeleteAddress">
            <input  name="DeleteAddressRequest"  message="tns:DeleteAddressRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="DeleteIdentifier">
            <input  name="DeleteIdentifierRequest"  message="tns:DeleteIdentifierRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="DeletePhoneNumber">
            <input  name="DeletePhoneNumberRequest"  message="tns:DeletePhoneNumberRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="GetPatient">
            <input  name="GetPatientRequest"  message="tns:GetPatientRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="DuplicatePatient">
            <input  name="DuplicatePatientRequest"  message="tns:DuplicatePatientRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="GetPersonName">
            <input  name="GetPersonNameRequest"  message="tns:GetPersonNameRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="GetAddress">
            <input  name="GetAddressRequest"  message="tns:GetAddressRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="GetIdentifier">
            <input  name="GetIdentifierRequest"  message="tns:GetIdentifierRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="GetPhoneNumber">
            <input  name="GetPhoneNumberRequest"  message="tns:GetPhoneNumberRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="SavePatient">
            <input  name="SavePatientRequest"  message="tns:SavePatientRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="SavePersonName">
            <input  name="SavePersonNameRequest"  message="tns:SavePersonNameRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="SaveAddress">
            <input  name="SaveAddressRequest"  message="tns:SaveAddressRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="SaveIdentifier">
            <input  name="SaveIdentifierRequest"  message="tns:SaveIdentifierRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="SavePhoneNumber">
            <input  name="SavePhoneNumberRequest"  message="tns:SavePhoneNumberRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="ListAllDocument">
            <input  name="ListAllDocumentRequest"  message="tns:ListAllDocumentRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="ListAllEventCode">
            <input  name="ListAllEventCodeRequest"  message="tns:ListAllEventCodeRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="DuplicateDocument">
            <input  name="DuplicateDocumentRequest"  message="tns:DuplicateDocumentRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="DeleteEventCode">
            <input  name="DeleteEventCodeRequest"  message="tns:DeleteEventCodeRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="GetDocument">
            <input  name="GetDocumentRequest"  message="tns:GetDocumentRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="GetEventCode">
            <input  name="GetEventCodeRequest"  message="tns:GetEventCodeRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="SaveDocument">
            <input  name="SaveDocumentRequest"  message="tns:SaveDocumentRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="SaveEventCode">
            <input  name="SaveEventCodeRequest"  message="tns:SaveEventCodeRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

        <operation name="GetPatientByIdentifier">
            <input  name="GetPatientByIdentifierRequest"  message="tns:GetPatientByIdentifierRequestMessage" />
            <output name="LoadTestDataSimpleResponse" message="tns:LoadTestDataSimpleResponseMessage"/>
        </operation>

    </portType>

    <binding name="EntityLoadTestDataManagementBindingSoap"
             type="tns:EntityLoadTestDataManagementPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

         <operation name="ListAllPatient">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:ListAllPatient"/>
            <input name="ListAllPatientRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="ListAllPersonName">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:ListAllPersonName"/>
            <input name="ListAllPersonNameRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="ListAllAddress">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:ListAllAddress"/>
            <input name="ListAllAddressRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="ListAllIdentier">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:ListAllIdentier"/>
            <input name="ListAllIdentierRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="ListAllPhoneNumber">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:ListAllPhoneNumber"/>
            <input name="ListAllPhoneNumberRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="DeletePatient">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:DeletePatient"/>
            <input name="DeletePatientRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>


         <operation name="DeletePersonName">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:DeletePersonName"/>
            <input name="DeletePersonNameRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="DeleteAddress">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:DeleteAddress"/>
            <input name="DeleteAddressRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="DeleteIdentifier">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:DeleteIdentifier"/>
            <input name="DeleteIdentifierRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="DeletePhoneNumber">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:DeletePhoneNumber"/>
            <input name="DeletePhoneNumberRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="DeleteDocument">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:DeleteDocument"/>
            <input name="DeleteDocumentRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="GetPatient">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:GetPatient"/>
            <input name="GetPatientRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="ListAllPersonName">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:ListAllPatient"/>
            <input name="ListAllPersonNameRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="DuplicatePatient">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:DuplicatePatient"/>
            <input name="DuplicatePatientRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="GetPersonName">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:GetPersonName"/>
            <input name="GetPersonNameRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="GetAddress">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:GetAddress"/>
            <input name="GetAddressRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="GetIdentifier">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:GetIdentifier"/>
            <input name="GetIdentifierRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="GetPhoneNumber">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:GetPhoneNumber"/>
            <input name="GetPhoneNumberRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="SavePatient">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:SavePatient"/>
            <input name="SavePatientRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="SavePersonName">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:SavePersonName"/>
            <input name="SavePersonNameRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="SaveAddress">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:SaveAddress"/>
            <input name="SaveAddressRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="SaveIdentifier">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:SaveIdentifier"/>
            <input name="SaveIdentifierRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="SavePhoneNumber">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:SavePhoneNumber"/>
            <input name="SavePhoneNumberRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="ListAllDocument">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:ListAllDocument"/>
            <input name="ListAllDocumentRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="ListAllEventCode">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:ListAllEventCode"/>
            <input name="ListAllEventCodeRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="DuplicateDocument">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:DuplicateDocument"/>
            <input name="DuplicateDocumentRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="DeleteEventCode">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:DeleteEventCode"/>
            <input name="DeleteEventCodeRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="GetDocument">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:GetDocument"/>
            <input name="GetDocumentRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="GetEventCode">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:GetEventCode"/>
            <input name="GetEventCodeRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="SaveDocument">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:SaveDocument"/>
            <input name="SaveDocumentRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="SaveEventCode">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:SaveEventCode"/>
            <input name="SaveEventCodeRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

         <operation name="GetPatientByIdentifier">
            <soap:operation soapAction="urn:gov:hhs:fha:nhinc:loadtestdatamanagement:GetPatientByIdentifier"/>
            <input name="GetPatientByIdentifierRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LoadTestDataSimpleResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

    </binding>

    <service name="EntityLoadTestDataManagement">
        <port name="EntityLoadTestDataManagementPort"
              binding="tns:EntityLoadTestDataManagementBindingSoap">
            <soap:address location="https://localhost:${HttpsDefaultPort}/CONNECTGateway/AdminGUIServices/LoadTestData"/>
        </port>
    </service>
</definitions>
