ConfigAdmin/src/main/resources/wsdl/EntityConfigAdmin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ConfigAdminService" 
             targetNamespace="urn:gov:hhs:fha:nhinc:configadmin"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:tns="urn:gov:hhs:fha:nhinc:configadmin" 
             xmlns:config="urn:gov:hhs:fha:nhinc:common:configadmin" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:common:configadmin">
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:configadmin" 
                        schemaLocation="classpath:schemas/nhinc/common/configAdmin.xsd"/>
        </xsd:schema>
    </types>
    
    <message name="ImportCertificateRequestMessage">
        <part name="ImportCertificateRequest" 
              element="config:ImportCertificateRequestMessage"/>
    </message>
    <message name="ImportCertificateResponseMessage">
        <part name="ImportCertificateResponse" 
              element="config:ImportCertificateResponseMessage"/>
    </message>
     
    <message name="ListTrustStoresRequestMessage">
        <part name="ListTrustStoresRequest"
              element="config:ListTrustStoresRequestMessage"/>
    </message>
    <message name="ListTrustStoresResponseMessage">
        <part name="ListTrustStoresResponse"
              element="config:ListTrustStoresResponseMessage"/>
    </message>
    
	<message name="EditCertificateRequestMessage">
        <part name="EditCertificateRequest"
              element="config:EditCertificateRequestMessage"/>
    </message>
    <message name="EditCertificateResponseMessage">
        <part name="EditCertificateResponse"
              element="config:EditCertificateResponseMessage"/>
    </message>
	
	<message name="DeleteCertificateRequestMessage">
        <part name="DeleteCertificateRequest"
              element="config:DeleteCertificateRequestMessage"/>
    </message>
    <message name="DeleteCertificateResponseMessage">
        <part name="DeleteCertificateResponse"
              element="config:DeleteCertificateResponseMessage"/>
    </message>
	
    
    <portType name="EntityConfigAdminPortType">
        <operation name="ImportCertificate">
            <input name="ImportCertificateRequest" message="tns:ImportCertificateRequestMessage"/>
            <output name="ImportCertificateResponse" message="tns:ImportCertificateResponseMessage"/>
        </operation>
        <operation name="ListTrustStores">
            <input name="ListTrustStoresRequest"  message="tns:ListTrustStoresRequestMessage"/>
            <output name="ListTrustStoresResponse" message="tns:ListTrustStoresResponseMessage"/>
        </operation>
		<operation name="EditCertificate">
            <input name="EditCertificateRequest"  message="tns:EditCertificateRequestMessage"/>
            <output name="EditCertificateResponse" message="tns:EditCertificateResponseMessage"/>
        </operation>
		<operation name="DeleteCertificate">
            <input name="DeleteCertificateRequest"  message="tns:DeleteCertificateRequestMessage"/>
            <output name="DeleteCertificateResponse" message="tns:DeleteCertificateResponseMessage"/>
        </operation>
    </portType>
    
    <binding name="EntityConfigAdminBindingSoap" 
             type="tns:EntityConfigAdminPortType">
        <soap:binding style="document" 
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ImportCertificate">
            <soap:operation soapAction="urn:ImportCertificate"/>
            <input name="ImportCertificateRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ImportCertificateResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        
        <operation name="ListTrustStores">
            <soap:operation soapAction="urn:ListTrustStores"/>
            <input name="ListTrustStoresRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ListTrustStoresResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        
		<operation name="EditCertificate">
            <soap:operation soapAction="urn:EditCertificate"/>
            <input name="EditCertificateRequest">
                <soap:body use="literal"/>
            </input>
            <output name="EditCertificateResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
		
		<operation name="DeleteCertificate">
            <soap:operation soapAction="urn:DeleteCertificate"/>
            <input name="DeleteCertificateRequest">
                <soap:body use="literal"/>
            </input>
            <output name="DeleteCertificateResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
		
    </binding>
    
    <service name="EntityConfigAdmin">
        <port name="EntityConfigAdminPort" 
              binding="tns:EntityConfigAdminBindingSoap">
            <soap:address 
               location="http://localhost:${HttpDefaultPort}/CONNECTCommon/EntityConfigAdmin"/>
        </port>
    </service>
</definitions>
