ConfigAdmin/src/main/resources/wsdl/EntityConfigAdmin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ConfigAdminService"
             targetNamespace="urn:gov:hhs:fha:nhinc:configadmin"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="urn:gov:hhs:fha:nhinc:configadmin"
             xmlns:config="urn:gov:hhs:fha:nhinc:common:configadmin"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:common:configadmin">
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:configadmin"
                        schemaLocation="classpath:schemas/nhinc/common/configAdmin.xsd"/>
        </xsd:schema>
    </types>
    <message name="SimpleCertificateResponseMessage">
        <part name="SimpleCertificateResponse"
              element="config:SimpleCertificateResponseMessage"/>
    </message>
    <message name="ImportCertificateRequestMessage">
        <part name="ImportCertificateRequest"
              element="config:ImportCertificateRequestMessage"/>
    </message>

    <message name="ListKeyStoresRequestMessage">
        <part name="ListKeyStoresRequest"
              element="config:ListKeyStoresRequestMessage"/>
    </message>
    <message name="ListKeyStoresResponseMessage">
        <part name="ListKeyStoresResponse"
              element="config:ListKeyStoresResponseMessage"/>
    </message>

    <message name="ListTrustStoresRequestMessage">
        <part name="ListTrustStoresRequest"
              element="config:ListTrustStoresRequestMessage"/>
    </message>
    <message name="ListTrustStoresResponseMessage">
        <part name="ListTrustStoresResponse"
              element="config:ListTrustStoresResponseMessage"/>
    </message>

    <message name="EditCertificateRequestMessage">
        <part name="EditCertificateRequest"
              element="config:EditCertificateRequestMessage"/>
    </message>
    <message name="DeleteCertificateRequestMessage">
        <part name="DeleteCertificateRequest"
              element="config:DeleteCertificateRequestMessage"/>
    </message>

    <message name="ListChainOfTrustRequestMessage">
        <part name="ListChainOfTrustRequest"
              element="config:ListChainOfTrustRequestMessage"/>
    </message>
    <message name="ListChainOfTrustResponseMessage">
        <part name="ListChainOfTrustResponse"
              element="config:ListCertificatesResponseMessage"/>
    </message>

    <message name="CreateCertificateRequestMessage">
        <part name="CreateCertificateRequest"
              element="config:CreateCertificateRequestMessage"/>
    </message>

    <message name="CreateCSRRequestMessage">
        <part name="CreateCSRRequest"
              element="config:CreateCSRRequestMessage"/>
    </message>

    <message name="DeleteTemporaryKeystoreRequestMessage">
        <part name="DeleteTemporaryKeystoreRequest"
              element="config:DeleteTemporaryKeystoreRequestMessage"/>
    </message>

    <message name="ImportToKeystoreRequestMessage">
        <part name="ImportToKeystoreRequest"
              element="config:ImportToKeystoreRequestMessage"/>
    </message>

    <message name="ImportToTruststoreRequestMessage">
        <part name="ImportToTruststoreRequest"
              element="config:ImportToTruststoreRequestMessage"/>
    </message>

    <portType name="EntityConfigAdminPortType">
        <operation name="ImportCertificate">
            <input name="ImportCertificateRequest" message="tns:ImportCertificateRequestMessage"/>
            <output name="SimpleCertificateResponse" message="tns:SimpleCertificateResponseMessage"/>
        </operation>
        <operation name="ListTrustStores">
            <input name="ListTrustStoresRequest"  message="tns:ListTrustStoresRequestMessage"/>
            <output name="ListTrustStoresResponse" message="tns:ListTrustStoresResponseMessage"/>
        </operation>
         <operation name="ListKeyStores">
            <input name="ListKeyStoresRequest"  message="tns:ListKeyStoresRequestMessage"/>
            <output name="ListKeyStoresResponse" message="tns:ListKeyStoresResponseMessage"/>
        </operation>
        <operation name="EditCertificate">
            <input name="EditCertificateRequest"  message="tns:EditCertificateRequestMessage"/>
            <output name="SimpleCertificateResponse" message="tns:SimpleCertificateResponseMessage"/>
        </operation>
        <operation name="DeleteCertificate">
            <input name="DeleteCertificateRequest"  message="tns:DeleteCertificateRequestMessage"/>
            <output name="SimpleCertificateResponse" message="tns:SimpleCertificateResponseMessage"/>
        </operation>
         <operation name="ListChainOfTrust">
            <input name="ListChainOfTrustRequest"  message="tns:ListChainOfTrustRequestMessage"/>
            <output name="ListChainOfTrustResponse" message="tns:ListChainOfTrustResponseMessage"/>
        </operation>
        <operation name="CreateCertificate">
            <input name="CreateCertificateRequest"  message="tns:CreateCertificateRequestMessage"/>
            <output name="SimpleCertificateResponse" message="tns:SimpleCertificateResponseMessage"/>
        </operation>
        <operation name="CreateCSR">
            <input name="CreateCSRRequest"  message="tns:CreateCSRRequestMessage"/>
            <output name="SimpleCertificateResponse" message="tns:SimpleCertificateResponseMessage"/>
        </operation>
        <operation name="DeleteTemporaryKeystore">
            <input name="DeleteTemporaryKeystoreRequest"  message="tns:DeleteTemporaryKeystoreRequestMessage"/>
            <output name="SimpleCertificateResponse" message="tns:SimpleCertificateResponseMessage"/>
        </operation>
        <operation name="ImportToKeystore">
            <input name="ImportToKeystoreRequest"  message="tns:ImportToKeystoreRequestMessage"/>
            <output name="SimpleCertificateResponse" message="tns:SimpleCertificateResponseMessage"/>
        </operation>
        <operation name="ImportToTruststore">
            <input name="ImportToTruststoreRequest"  message="tns:ImportToTruststoreRequestMessage"/>
            <output name="SimpleCertificateResponse" message="tns:SimpleCertificateResponseMessage"/>
        </operation>
    </portType>

    <binding name="EntityConfigAdminBindingSoap"
             type="tns:EntityConfigAdminPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ImportCertificate">
            <soap:operation soapAction="urn:ImportCertificate"/>
            <input name="ImportCertificateRequest">
                <soap:body use="literal"/>
            </input>
            <output name="SimpleCertificateResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="ListTrustStores">
            <soap:operation soapAction="urn:ListTrustStores"/>
            <input name="ListTrustStoresRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ListTrustStoresResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="ListKeyStores">
            <soap:operation soapAction="urn:ListKeyStores"/>
            <input name="ListKeyStoresRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ListKeyStoresResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="EditCertificate">
            <soap:operation soapAction="urn:EditCertificate"/>
            <input name="EditCertificateRequest">
                <soap:body use="literal"/>
            </input>
            <output name="SimpleCertificateResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="DeleteCertificate">
            <soap:operation soapAction="urn:DeleteCertificate"/>
            <input name="DeleteCertificateRequest">
                <soap:body use="literal"/>
            </input>
            <output name="SimpleCertificateResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="ListChainOfTrust">
            <soap:operation soapAction="urn:ListChainOfTrust"/>
            <input name="ListChainOfTrustRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ListChainOfTrustResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="CreateCertificate">
            <soap:operation soapAction="urn:CreateCertificate"/>
            <input name="CreateCertificateRequest">
                <soap:body use="literal"/>
            </input>
            <output name="SimpleCertificateResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="CreateCSR">
            <soap:operation soapAction="urn:CreateCSR"/>
            <input name="CreateCSRRequest">
                <soap:body use="literal"/>
            </input>
            <output name="SimpleCertificateResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="DeleteTemporaryKeystore">
            <soap:operation soapAction="urn:DeleteTemporaryKeystore"/>
            <input name="DeleteTemporaryKeystoreRequest">
                <soap:body use="literal"/>
            </input>
            <output name="SimpleCertificateResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="ImportToKeystore">
            <soap:operation soapAction="urn:ImportToKeystore"/>
            <input name="ImportToKeystoreRequest">
                <soap:body use="literal"/>
            </input>
            <output name="SimpleCertificateResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="ImportToTruststore">
            <soap:operation soapAction="urn:ImportToTruststore"/>
            <input name="ImportToTruststoreRequest">
                <soap:body use="literal"/>
            </input>
            <output name="SimpleCertificateResponse">
                <soap:body use="literal"/>
            </output>
        </operation>

    </binding>

    <service name="EntityConfigAdmin">
        <port name="EntityConfigAdminPort"
              binding="tns:EntityConfigAdminBindingSoap">
            <soap:address
               location="http://localhost:${HttpDefaultPort}/CONNECTCommon/EntityConfigAdmin"/>
        </port>
    </service>
</definitions>
